<div class="flash">
</div>

<div class="container">
  <div class="nodes">
    <div class="tree_view">
      <span id=<%= @root.id %>><%= @root.value %></span>
      <ul class="children">
        <%= render @root.children %>
      </ul>
    </div>
  </div>

  <%= link_to ">>>", '#', :class => 'button export' %>

  <div class="cached_nodes">
    <div class="tree_view">
    </div>
  </div>
</div>
